.sidebar_wrap {
   overflow-x: hidden;
   overflow-y: auto;
}

.sidebar_wrap svg {
   width: 17px;
   height: 18px;
}

.content_card {
   box-shadow: 0 0 13px 0 #523f690d;
   border-radius: 8px;
}

.navbar,
.footer {
   box-shadow: 0 1px 2px #38414a26;
}